@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 255);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    color: darkgreen;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px darkgreen;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 20pt;
    font-weight: bold;
}